.subscribe-button {
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 3px;
  cursor: pointer;
  margin: 8px;
  font-size: 17px;
  transition: opacity 0.15s;
  vertical-align: top;
}

.subscribe-button:hover {
  opacity: 0.4;
}

.subscribe-button:active {
  opacity: 0.4;
}

.join-button {
  background-color: white;
  color: blue;
  border-color: rgb(41, 118, 211);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  height: 45px;
  width: 62px;
  cursor: pointer;
  margin-right: 8px;
  font-size: 17px;
  transition: background-color 0.15s,color 0.15s;
  vertical-align: top;
}

.join-button:hover {
  background-color: rgb(41, 118, 211);
  color: white;
}
.join-button:active{
  opacity: 0.4;
  
}

.tweet-button{
  background-color: rgb(41, 118, 211);
  color: white;
  border: none;
  border-radius: 23px;
  height: 45px;
  width: 100px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  margin-right: 10px;
  transition: box-shadow 0.15s;
  vertical-align: top;
}

.tweet-button:hover{
  box-shadow: 10px 5px 10px rgba(0,0,0,0.15);
}

.tweet-button:active {
  
}

.uber-button {
  background-color: black;
  color: white;
  height: 45px;
  width: 150px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: opacity 0.15s;
  vertical-align: top; 
}

.uber-button:hover {
  opacity: 0.7;
}


.amazon-button {
  background-color: rgba(233, 154, 8, 0.678);
  border: none;
  border-radius: 23px;
  height: 45px;
  width: 200px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.15s;
}

.amazon-button:hover {
  opacity: 0.8;
}

.get{
  background-color: purple;
  color: white;
  height:55px;
  width: 145px;
  border:none;
  border-radius: 3px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.15s;
} 

.get:hover{
  opacity: 0.7;
}

.download{
  background-color: white;
  color: grey;
  height:55px;
  width: 145px;
  border-width: 1px;
  border-radius: 3px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.15s,color 0.15s;
}

.download:hover {
  background-color: grey;
  color: white;
}

.stock{
  color:green;
  font-weight: bold;
  font-size: 20px;
}

.free{
  margin-bottom: 30px;
}

.add{
  background-color: rgb(247, 181, 60);
  color: black;
  border: none;
  border-radius: 23px;
  height: 45px;
  width: 150px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
  transition: opacity 0.15s;
}
.add:hover {
  opacity: 0.6;
}

.buy{
  background-color: rgb(253, 166, 4);
  color: black;
  border: none;
  border-radius: 23px;
  height: 45px;
  width: 150px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.15s;
}

.buy:hover {
  opacity: 0.7;
}